<section class="container" id="contact">
    <div class="row mb-2">
        <div class="col-12">
            <h1>Contact</h1>
        </div>
        <div class="col-12">
            <h2>Send me a message</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 mb-2">
            <div class="row mb-2">
                <div class="col-12">
                    <p>card here</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <form>
                <div class="row">
                    <div class="col-12 mt-3 mt-md-0">
                        <app-input type="text" placeholder="Nome"></app-input>
                    </div>
                    <div class="col-12 mt-2">
                        <app-input type="text" placeholder="E-mail"></app-input>
                    </div>
                    <div class="col-12 mt-2">
                        <app-input type="textarea" rows="10" cols="30" placeholder="Message"></app-input>
                    </div>
                    <div class="col-12 mt-2 d-flex justify-content-end">
                        <button></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>